# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore dataset folder
data/

# Ignore trained models
models/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
